* {
    margin: 0;
    padding: 0;
}


#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 400px;
    flex: 1;
    margin: 30px;
    padding: 16px;
}

.number {
    border: 1px solid black;
    width: 65px;
    height: 65px;
    margin: 4px;
}

.randomNumbers {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    height: 200px;
}

.randomNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    font-size: 24px;
    margin-right: 12px;
}

.lastDiv {
    border: 1px solid black;
    height: 65px;
    width: 290px;
    margin: 4px;
}

.footer {
    display: flex;
    margin: 30px;
    height: 200px;
    border: 1px solid blue;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.3;
    height: 200px;
}

button {
    width: 150px;
    height: 50px;
}

.selected {
    background-color: red;
}
